.recipeList{
  height: 800px;
}

.recipeList ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.wrap a{
  font-size: 6px;
  color: black;
}

.wrap img{
  object-fit: contain;
  width: 100%;
  height: 200px;
}

.wrap{
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.images{
  background: grey;
  height: 200px;
  width: 200px;

}
